# Data (actual files ignored by DVC, .dvc pointer files tracked by Git)
data/raw/labeled_data.csv
data/processed/

# Models
models/*.pkl

# MLflow
mlruns/
mlflow.db

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Env
.env


# OS
.DS_Store
Thumbs.db
